body {
  --circle-loading-size: 3.5em;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  color: #000;
  text-align: justify;
  text-justify: inter-word;
  text-indent: 2em;
  margin: 0;
  padding: 0;
}
.c-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  align-content: center;
  flex-direction: column;
}
#loading {
  padding-top: 1.5em;
  margin: 0 auto;
  font-size: auto;
  /* padding: 50%; */
  background-color: #635d5d2d;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  float: left;
}
#loading .circle {
  /* margin: auto auto; */
  /* margin-left: auto; */
  /* margin-right: auto; */

  /* margin: 2em 45%; */
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.circle {
  width: var(--circle-loading-size);
  height: var(--circle-loading-size);
  background-color: transparent;
  border-top: 4px rgb(95, 95, 219) solid;

  /* border: 4px dotted #000; */
  border-radius: 50%;
  /* position: absolute;
  top: 0;
  left: 0; */
  z-index: 100;
  display: block;
  animation: loading 1s linear infinite;
}
b {
  font-weight: bold;
}
em {
  font-style: italic;
  font-weight: normal;
}
#palavrasTentadas {
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
  word-break: break-all;
  /* width: 25%; */
  text-shadow: 1px 1px 1px #000;
  /* text-align: justify; */
  /* text-justify: inter-word; */
  /* text-indent: 2em; */
  margin: 0;
  padding: 0;
}
verde {
  color: #2cbe26;
}

vermelho {
  color: #ff0000;
}

.jogo {
  width: auto;
  height: auto;
  background-color: #fff;
  z-index: 0;
  display: block;
}

#dicionario {
  width: 100%;
  height: 100%;
  background-color: #fff;
  /* position: absolute;
    top: 0;
    left: 0; */
  z-index: 100;
  display: block;

  --letra-tamanho: 1.2em;
}

#palavra {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 10px;
  z-index: 100;
  font-size: var(--letra-tamanho);
  font-weight: bolder;
  text-transform: capitalize;

  display: block;
}

div {
  --line-indent: 1em;
  padding-left: var(--line-indent);
  text-indent: calc(-1 * var(--line-indent));
  margin-left: var(--line-indent);
}

#significado {
  width: 100%;
  height: 100%;
  background-color: #fff;
  /* margin: 10px; */
  z-index: 100;
  font-size: auto;
  display: inline-block;
  text-align: start;
}

#significado #singular {
  width: 90%;
  line-height: 2em;
  background: #ccc;
  border: gray 2px groove;
  box-shadow: 1px 2px;
}

#significado .tabulacao {
  margin: 15px 20px;
}

#significado strong {
  font-weight: bolder;
}
